<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chart.js - Temperature line chart</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="card">
        <!-- Custom information -->
        <div class="about">
            <h3>Chart.js</h3>
            <p class="lead">Temperature in °C</p>
        </div>

        <!-- Canvas for Chart.js -->
        <canvas id="canvas"></canvas>

        <!-- Custom Axis -->
        <div class="axis">
            <div class="tick">
                <span class="day-number">10</span>
                <span class="day-name">MON</span>
                <span class="value value--this">{{test[0]["temperature"]}}</span>
            </div>
            <div class="tick">
                <span class="day-number">11</span>
                <span class="day-name">TUE</span>
                <span class="value value--this">{{test[1]["temperature"]}}</span>
            </div>
            <div class="tick">
                <span class="day-number">12</span>
                <span class="day-name">WED</span>
                <span class="value value--this">{{test[2]["temperature"]}}</span>
            </div>
            <div class="tick">
                <span class="day-number">13</span>
                <span class="day-name">THU</span>
                <span class="value value--this">{{test[3]["temperature"]}}</span>
            </div>
            <div class="tick">
                <span class="day-number">14</span>
                <span class="day-name">FRI</span>
                <span class="value value--this">{{test[4]["temperature"]}}</span>
            </div>
            <div class="tick">
                <span class="day-number">15</span>
                <span class="day-name">SAT</span>
                <span class="value value--this">{{test[5]["temperature"]}}</span>
            </div>
            <div class="tick">
                <span class="day-number">16</span>
                <span class="day-name">SUN</span>
                <span class="value value--this">{{test[6]["temperature"]}}</span>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
    <script src="./script.js"></script>

</body>

</html>