/* This is the css file to style the buttons */


/* Set a style for all buttons */
button {
  border: none;
  background-color: #4CAF50; /* Fruit Salad */
  color: white;
  padding: 14px 14px;
  margin: 8px 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

  /* Signup button */
  .signupbtn {
    font-size: 26px;
    font-weight: bold;
    border-radius: 8px;
    width: 40%;
  }

  /* Change styles for signup button on extra small screens */
  @media screen and (max-width: 600px) {
    .signupbtn {
       width: 80%;
    }
  }

  /* Login button */
  .loginbtn {
    font-size: 16px;
    padding: 10px 10px;
    background-color: #4E628A;
    border-radius: 8px;
    width: 100%;
  }
