@import "compass/css3";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: "europa-1", "europa-2", sans-serif;
    overflow: hidden;
}

.carousel__nav {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -17px;
    left: 0;
    z-index: 1;
    .nav {
        position: absolute;
        top: 0;
        color: #000;
        background: #FFF;
        padding: 8px 12px;
        font-weight: bold;
        text-decoration: none;
        font-size: .8rem;
        transition: padding .25s ease;
        &:hover {
            padding: 8px 20px;
        }
    }
    .nav--left {
        border-radius: 0px 3px 3px 0px;
    }
    .nav--right {
        right: 0;
        border-radius: 3px 0px 0px 3px;
    }
}